# Data Handling & Environment
python-dotenv
pandas
numpy
tqdm

# Kaggle API
kaggle

# Image Processing & Computer Vision
opencv-python
pillow
albumentations

# Deep Learning (Core)
torch
torchvision
torchaudio

# Optional but recommended for Notebooks/Progress
matplotlib
scikit-learn